<div ng-controller="ChartController as cctrl">
    <div layout-padding>
        <h2>Define New Longitudinal Chart</h2>
    </div>
    <div layout="row">
        <md-content layout-padding flex="50" style="overflow-x: hidden">
            <!--<span class="md-headline">Preview</span>-->
            <img src="img/nopreview.jpg" ng-if="!cctrl.previewAvailable()">
            <canvas class="chart chart-line" chart-data="cctrl.lc.data" chart-labels="cctrl.lc.labels"
                    chart-series="cctrl.lc.series" chart-colors="cctrl.lc.dataColors"
                    id="chart-preview"></canvas>
        </md-content>
        <md-content layout-padding flex="50">
            <span class="md-headline">Basic Configurations</span>
            <form name="chartForm">
                <md-input-container class="md-block">
                    <label>Title</label>
                    <input required name="title" ng-model="cctrl.lc.title">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Program</label>
                    <md-select ng-model="cctrl.lc.program" ng-change="cctrl.refreshDataElements()">
                        <md-option ng-repeat="program in cctrl.programs" value="{{program.id}}">
                            {{program.displayName}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-content layout="row">
                    <md-input-container flex="50">
                        <label>Dependant Axis (Y)</label>
                        <md-select ng-model="cctrl.lc.yAxisDataElement">
                            <md-option ng-repeat="de in cctrl.dataElements" value="{{de.id}}">
                                {{de.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Independent Axis (X)</label>
                        <md-select ng-model="cctrl.lc.xAxisPeriod">
                            <md-option ng-repeat="period in cctrl.xAxisPeriods" value="{{$index}}">
                                {{period}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-content>
                <md-content>
                    <span class="md-headline">Reference Data</span>
                </md-content>
                <md-content>
                    <div dropzone="dropzoneConfig" class="drop-zone">
                        <div class="dz-message">
                            Drop reference data(CSV) here.
                        </div>
                    </div>
                </md-content>
                <md-content>
                    <md-list class="fixedRows">
                        <md-list-item class="md-2-line centile-item" ng-repeat="centile in cctrl.lc.centiles">
                            <div md-color-picker ng-model="centile.color" ng-change="cctrl.applyData()"
                                 class="md-avatar"></div>
                            <div class="md-list-item-text compact">
                                <h3> {{centile.name}}</h3>
                                <md-switch ng-model="centile.selected"
                                           ng-change="cctrl.applyData()" aria-label="enable">
                                </md-switch>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </form>
        </md-content>
    </div>

    <md-button class="md-fab md-fab md-fab-bottom-left md-faded" aria-label="Add Chart" ng-click="cctrl.navBack()"
               style="position: fixed">
        <md-icon>
            <i class="material-icons">navigate_before</i>
        </md-icon>
    </md-button>
    <md-button class="md-fab md-fab md-fab-bottom-right md-primary" aria-label="Add Chart" ng-click="cctrl.saveChart()"
               style="position: fixed">
        <md-icon>
            <i class="material-icons">save</i>
        </md-icon>
    </md-button>
</div>